.left-side .info {
  top: 56px;

  .product-info {
    margin: 0;
  }

  .mask-block {
    background-image: url("../images/slide2-left-image.svg");
    background-position: top -108px left -125px;
    margin-top: 12px;
  }
}