body {
  max-width: 1920px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.5em;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  color: rgb(56, 56, 56);
  display: flex;
  flex-direction: column;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(56, 56, 56);
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  inset: -15px;
}

main {
  display: flex;
  justify-content: space-between;
}

header .menu-title {
  display: flex;
  justify-content: space-between;
  gap: 618px;
}
header .menu-title .menu .burger-menu .menu-block {
  max-width: 1920px;
  width: 100%;
  background: white;
  height: 1024px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
  font-size: 150px;
  line-height: 225px;
  letter-spacing: 0;
  -webkit-text-stroke: 1px rgb(168, 168, 168);
}
header .menu-title .menu .burger-menu .menu-block,
header .menu-title .menu .burger-menu input {
  display: none;
}
header .menu-title .menu .burger-menu label {
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

header {
  max-width: 1720px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
  position: absolute;
}
header .cart-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
header .cart-list .lines {
  display: flex;
  align-items: center;
  gap: 11px;
}
header .cart-list .lines .long-line {
  border: 1px solid rgb(56, 56, 56);
  width: 120px;
}
header .cart-list .lines .short-line {
  border: 1px solid rgb(56, 56, 56);
  width: 20px;
}
header .cart-list .cart-list-number {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
header .cart-list .cart-list-number .cart-number {
  font-weight: 800;
}

footer {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.15em;
}
footer .footer-content {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer .footer-content img {
  margin-bottom: 158px;
}
footer .footer-content .links {
  display: flex;
  gap: 50px;
  position: absolute;
  top: 160px;
  left: -10px;
  right: -25px;
}
footer .footer-content .links .connect-us {
  color: rgba(255, 255, 255, 0.3);
}
footer .footer-content .links .social-link {
  color: rgb(255, 255, 255);
}
footer .footer-content .hr {
  max-width: 800px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 50px;
}
footer .footer-content .copyright {
  display: flex;
  justify-content: space-between;
  max-width: 258px;
  width: 100%;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}

.left-side {
  max-width: 400px;
  max-height: 600px;
  width: 100%;
  position: absolute;
  top: 212px;
  left: 280px;
  cursor: pointer;
}

.left-side .left-image {
  opacity: 80%;
  position: relative;
  z-index: -1;
}

.left-side .info {
  position: absolute;
  top: 130px;
  left: 125px;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.15em;
  max-width: 150px;
  width: 100%;
  color: rgb(49, 49, 49);
}

.left-side .info .product-info {
  margin: 12px 0 0 108px;
  width: 100%;
}

.left-side .info .product-info .name-product {
  font-weight: 500;
  margin-bottom: 4px;
}

.left-side .info .mask-block {
  border: 0.5px solid rgb(56, 56, 56);
  height: 150px;
  background-image: url("../images/slide1-left-image.svg");
  background-position: top -130px left -125px;
}

.logo {
  position: absolute;
  top: 452px;
  left: 882px;
}

.right-side {
  max-width: 960px;
  max-height: 1024px;
  width: 100%;
  z-index: -1;
}

.pagination {
  position: absolute;
  top: 934px;
  left: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 362px;
}

.pagination .page-lines {
  display: flex;
  gap: 30px;
  align-items: baseline;
}

.pagination .page-lines .small-line,
.pagination .page-lines .big-line {
  cursor: pointer;
}

.pagination .page-lines .small-line {
  height: 10px;
  border: 1px solid rgba(56, 56, 56, 0.3);
}

.pagination .page-lines .big-line {
  height: 30px;
  border: 1px solid rgb(56, 56, 56);
}/*# sourceMappingURL=style-slide.css.map */